@{
    ViewBag.Title = "NWADNUG: Sponsors";
}
<!-- start content -->
<div id="contentinner">
    <div class="post">
        <h1 class="title">
            Sponsors</h1>
        <p>
            The Northwest Arkansas .NET User Group has always been proud of the fact that we
            have been able to offer professoinal meetings and speakers without charging our
            members dues or event fees. We have only been able to do this because of the excellent
            support we have received from individuals and corporate sponsors.
        </p>
        <h2 style="font-weight: bold; font-size: 18px; color: Gray">
            Platinum Sponsorship - @Html.ActionLink("Become a Sponsor", "Become", "Sponsor")</h2>
        <a href="http://microsoft.com/">
            <img src="../../Content/images/sponsor-microsoft.gif" border="0" alt="Microsoft" /></a>
        <p>
            <a href="http://microsoft.com/">Microsoft</a> is the reason we are here, and they
            have been exteremly supportive of us.
        </p>
        <a href="http://ineta.org/">
            <img src="../../Content/images/sponsor-ineta.gif" border="0" alt="INETA" /></a>
        <p>
            The <a href="http://ineta.org/">International .NET Association (INETA)</a> provides
            structured, peer- based organizational, educational, and promotional support to
            the growing worldwide community of Microsoft® .NET user groups.
        </p>
        <a href="http://www.teksystems.com/"><img src="../../Content/images/sponsor-teksystems.gif"
            border="0" alt="Tek Systems" /></a>
        <p>
            <a href="http://www.teksystems.com/">TEKsystems®</a> is the leading IT staffing
            and services company. Our capabilities span a wide range of services: from technical
            staff augmentation and direct placement services, to full management of IT projects
            and comprehensive workforce management solutions.
        </p>
        <a href="http://www.mindscapehq.com/"><img src="../../Content/images/sponsor-mindscape.gif"
            border="0" alt="Mindscape" /></a>
        <p>
            Most software developers think 
            somebody should do a better job of delivering great tools and components. Tools that are 
            simpler and more convenient to use.  Components that are quick to download and evaluate, 
            and work idiomatically with your favourite platform.  And of course all this while making 
            it easy to tweak them to your particular needs.
        </p>
        <p>
            That's what <a href="http://www.mindscapehq.com/">Mindscape's</a> all about.  We've got years of experience on .NET and other platforms, 
            and we were tired of waiting for 'somebody' to bring the awesome.  So in 2007 we started a 
            company to do it ourselves: to build the best developer tools we could, based on three simple 
            principles.
        </p>
        <a href="http://www.infragistics.com/"><img src="../../Content/images/sponsor-infragistics.gif"
            border="0" alt="Infragistics" /></a>
        <p>
            The <a href="http://www.infragistics.com/">Infragistics</a> NetAdvantage family
            is a multi-platform, comprehensive set of UI controls for building commercial class
            user interfaces with the familiar look and feel your users expect.
        </p>
        <h2 style="font-weight: bold; font-size: 18px; color: Yellow">
            Gold Sponsorship - @Html.ActionLink("Become a Sponsor", "Become", "Sponsor")</h2>
        <a href="http://www.jetbrains.com/">
            <img src="../../Content/images/sponsor-jetbrains.gif" border="0" alt="JetBrains" /></a>
        <p>
            At <a href="http://www.jetbrains.com/">JetBrains</a>, we have a passion for making
            people more productive through smart software solutions that help them focus more
            on what they really want to accomplish, and less on mundane, repetitive "computer
            busy work". <a href="http://www.jetbrains.com/resharper">ReSharper</a> brings many
            of IntelliJ IDEA's productivity features to .NET developers using Microsoft Visual
            Studio.
        </p>
        <a href="http://www.codesmithtools.com/">
            <img src="../../Content/images/sponsor-code-smith.gif" border="0" alt="Codesmith Tools" /></a>
        <p>
            <a href="http://www.codesmithtools.com/">CodeSmith Tools</a> is a template-based
            code generator that allows you to generate code for any text language.
        </p>
        <a href="http://www.devexpress.com/">
            <img src="../../Content/images/sponsor-devexpress.gif" border="0" alt="DevExpress" /></a>
        <p>
            Today, software consumers demand more than ever from developers. The pressure to
            deliver more features with higher quality in less time has never been greater. <a
                href="http://www.devexpress.com/">DevExpress</a> created CodeRush and Refactor!
            to help developers and managers meet increased demands for quality and functionality,
            boosting productivity while eliminating repetition that erodes creativity. Learn
            more: visit <a href="http://www.devexpress.com/CodeRush">www.devexpress.com/CodeRush</a>.
        </p>
        <h2 style="font-weight: bold; font-size: 18px; color: Silver">
            Silver Sponsorship - @Html.ActionLink("Become a Sponsor", "Become", "Sponsor")</h2>
        <a href="http://www.discountasp.net/nwadnug/">
            <img src="../../Content/images/sponsor-discountasp.gif" border="0" alt="Discount ASP.NET" /></a>
        <p>
            <a href="http://www.discountasp.net/nwadnug/"><strong>DiscountASP.NET</strong></a>
            is the global leader in ASP.NET Web Hosting Services. As a Microsoft Gold Certified
            Partner, the DiscountASP.NET mission is simple; to deliver the best value in cutting
            edge, enterprise-class ASP.NET Hosting through continuous innovation by supporting
            the latest Microsoft ASP.NET technology. As a sponsor of the Northwest Arkansas
            .NET User Group, DiscountASP.NET is offering a special promotion of <strong>6 Months
                FREE with No Setup Fees</strong>. For more information, visit <a href="http://www.discountasp.net/nwadnug/">
                    http://www.DiscountASP.NET/nwadnug</a>.
        </p>
        <h2 style="font-weight: bold; font-size: 18px; color: #A97E00">
            Bronze Sponsorship - @Html.ActionLink("Become a Sponsor", "Become", "Sponsor")</h2>
        @*<a href="http://www.tekpub.com/"><img src="../../Content/images/sponsor-tekpub.png"
            border="0" alt="TekPub" /></a>
        <p>
            <a href="http://www.tekpub.com/">TekPub</a> is a collaborative effort between GrooveMob
            (James Avery and Rob Conery) and the excellent authors that have trusted us with
            their content. Our idea is simple: Techbooks pretty much suck most of the time and
            you end up spending a whole mess of money when really what you want is to spend
            less time (and money) and learn from the people you trust. We've written books before
            and generally it's OK, but the process is long and involved and is not terribly
            compelling for the authors (unless they like torture). Once something is written,
            however, it's done and committed to history. These books are good for a year, maybe
            2 and then you get to pay more for another one. We think this is a bit silly - not
            to mention wasteful - and you have better things to do with your time other than
            deciding what book to buy (and when to read it).
        </p>*@
        <a href="http://www.pluralsight-training.net/microsoft/">
            <img src="http://www.pluralsight-training.net/microsoft/sponsorships/pluralsight-logo-for-sponsorships-small.png"
                title="Pluralsight" border="0px" /></a>
        <p>
            <a href="http://www.pluralsight-training.net/microsoft/">Pluralsight .NET Training</a>
            delivers professional On-Demand! training library designed for developers, by developers.
            Comprehensive developer training is our life. We know how to help developers because
            we are developers ourselves. Our MVP instructors can explain new technology in easy
            to understand terms, just like reading a story. Once you experience the quality
            and depth of our On-Demand! training videos, you'll never accept anything less.
        </p>
        <h2 style="font-weight: bold; font-size: 18px; color: #A97E00">
            Other Sponsorship - @Html.ActionLink("Become a Sponsor", "Become", "Sponsor")</h2>
        <a href="http://www.oreilly.com/">
            <img src="../../Content/images/sponsor-oreilly.gif" border="0" alt="O'Reilly" /></a>&nbsp;
        <a href="http://www.telerik.com/">
            <img src="../../Content/images/sponsor-telerik.gif" border="0" alt="Telerik" /></a>&nbsp;
        <a href="http://www.sitefinity.com/">
            <img src="../../Content/images/sponsor-sitefinity.gif" border="0" alt="Sitefinity" /></a>&nbsp;
        @*<a href="http://www.nevron.com/">
            <img src="../../Content/images/sponsor-nevron.gif" border="0" alt="Nevron" /></a>&nbsp;
        <a href="http://www.fpoint.com/">
            <img src="../../Content/images/sponsor-farpoint.gif" border="0" alt="FarPoint" /></a>&nbsp;*@
        <p>
            &nbsp;
        </p>
    </div>
</div>
<div id="sidebar" class="sidebarinner">
    <h2>
        Founding Sponsors</h2>
    <p style="margin-top: 10px;">
        This area is reserved for the<br />
        Sponsors that help get this group<br />
        going, way back in 2005. They were<br />
        major contributors to the success and<br />
        livelyhood of our group and we will<br />
        forever be thankful.
    </p>
    @*<a href="http://www.gdhconsulting.com/"><img src="../../Content/images/sponsor-gdh.gif"
        border="0" alt="GDH Consulting" /></a>
    <p>
        <a href="http://www.gdhconsulting.com/">GDH Consulting</a> is a specialized<br />
        staffing firm that locates and<br />
        pre-qualifies IT and telecom<br />
        professionals for businesses worldwide.
    </p>*@
    @*<a href="http://www.realplanit.com/"><img src="../../Content/images/sponsor-realplanit.gif"
        border="0" alt="Real PlanIT" /></a>
    <p>
        <a href="http://www.realplanit.com/">Real PlantIT</a>, Inc. is dedicated<br />
        to providing you and your employees<br />
        the computer skills and knowledge<br />
        required to provide a competitve<br />
        edge in today's market....<em>Your<br />
            training partner in achieving<br />
            your learning goals.</em>
    </p>*@
    <a href="http://ineta.org/">
        <img src="../../Content/images/sponsor-ineta.gif" border="0" alt="INETA" /></a>
    <p>
        The <a href="http://ineta.org/">International .NET Association<br />
            (INETA)</a> provides structured, peer-<br />
        based organizational, educational,<br />
        and promotional support to the<br />
        growing worldwide community of<br />
        Microsoft® .NET user groups.
    </p>
    <a href="http://microsoft.com/">
        <img src="../../Content/images/sponsor-microsoft.gif" border="0" alt="Microsoft" /></a>
    <p>
        <a href="http://microsoft.com/">Microsoft</a> is the reason we are here,<br />
        and they have been exteremly<br />
        supportive of us.
    </p>
</div>
<div style="clear: both;">
    &nbsp;</div>

@section ScriptContent
{
    <script type="text/javascript">
        $(function () {
            $("#menu>ul>li:nth-child(5)").addClass("current_page_item");
        });
    </script>
}